<!DOCTYPE html>
<html>
<head>
<style>
#bx {
	border: 1px solid grey;
    padding: 10px;
    margin: 30px;
    background-color:#e6e6e6;
}
#css_h1 {
    color: #3385ff;
    font-family: verdana;
    font-size: 150%;

}
#css_ld_time  {
    color: red;
    font-family: courier;
    font-size: 100%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
</head>
</body>
<h1> Spaces not being Tracked</h1>

<% @space_variables.each do |space_variable| %>
	<% @ignored_spaces.each do |space| %>
		<% if space_variable.space_id == space.space_id %>
				<div id="bx">
				<div id="css_h1"><%= space.name %> </div> <br/> 
				<div id="css_ld_time"> 
				<%= space_variable.name %> : 
				<%= space_variable.value %> <br/> <br/> 
				</div>
				<% @space_properties.each do |space_property| %>
					<% if space_property.space_id == space.space_id %>
						<b> Comments: </b> 
						<%= simple_format(space_property.comments) %> 
					<% end %>
				<% end %>
				<div class="actions"> <%= button_to 'Add to Tracking', 'ignored/add_to_list', :class => "button", :controller => :ignored, :action => :add_to_list, params:{add_space_id: space.space_id}, :method => :post %> </div>
				</div>
		<% end %>
	<% end %>	
<% end %>


</body>
</html>